.react-calendar-heatmap .color-scale-1 {
  fill: #dbae98;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #d89d82;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #e48167;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #da5d3c;
}

.react-calendar-heatmap {
  width: 745px;
  height: 180px;
  margin-left: 185px;
  padding: 10px 35px 0px 10px;
  border-radius: 0 0 23px 23px;
  background-color: #3d405b;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #f4f1de;
}

.react-calendar-heatmap rect:hover {
  stroke: black;
  stroke-width: 1px;
}

.heatmapTitleDiv {
  margin-top: 40px;
  margin-left: 185px;
  background-color: #3d405b;
  width: 790px;
  border-radius: 23px 23px 0 0;
}

.heatmapTitle {
  margin-bottom: 0;
  color: #f4f1de;
  margin-left: 50px;
  padding-top: 20px;
}

#scale {
  width: 11px;
  height: 10px;
}

.scale1 {
  background-color: #dbae98;
}

.scale2 {
  background-color: #d89d82;
}

.scale3 {
  background-color: #e48167;
}

.scale4 {
  background-color: #da5d3c;
}
