.react-calendar-heatmap .color-scale-1 {
  fill: #dbae98;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #d89d82;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #e48167;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #da5d3c;
}

.react-calendar-heatmap {
  width: 745px;
  height: 180px;
  margin-left: 185px;
  padding: 10px 35px 0px 10px;
  border-radius: 0 0 23px 23px;
  background-color: #3d405b;
  /* background-color: #f4f1de; */
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #f4f1de;
}

.react-calendar-heatmap rect:hover {
  stroke: black;
  stroke-width: 1px;
}
