.quotesBG {
  width: 786px;
  height: 175px;
  margin-left: 185px;
  margin-top: 40px;
  overflow: hidden;
}

.quotesWaves {
  position: fixed;
  top: 10px;
  left: 120px;
}

.quotationMarks {
  position: absolute;
  width: 600px;
  height: 123px;
  left: 265px;
  top: 40px;
}

.rndQuotes {
  margin-left: 365px;
  margin-top: -135px;
  width: 400px;
  color: #f4f1de;

  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.quotesCredits {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  color: #f4f1de;
  margin-left: 480px;
  margin-right: auto;
  width: 150px;
  height: 50px;
  text-align: center;
}

.creditsContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
