.home {
  height: 58px;
  width: 59px;
}

.toDo {
  height: 69px;
  width: 56px;
}

.watch {
  height: 62px;
  width: 55px;
}

.checkIn {
  height: 57px;
  width: 80px;
}

.checkIn:hover {
  width: 85px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #e07a5f;
  padding: 12px;
  border-radius: 25px;
}

.watch:hover {
  width: 65px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #e07a5f;
  padding: 12px;
  border-radius: 25px;
}

.toDo:hover {
  width: 65px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #e07a5f;
  padding: 12px;
  border-radius: 25px;
}

.home:hover {
  width: 65px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #e07a5f;
  padding: 12px;
  border-radius: 20px;
}
