.taskBg{
    background-color: rgb(67, 131, 170);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 30px;
    width: 95%;
    text-align: left;
    font-style: 22px;
    position: relative;
    border: 1px red solid;
    
}

.taskBg div{
   
    display: flex;
    align-items: center;
}

.row{
    
    display: flex;
}

.taskNumber{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(1, 1, 1);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.taskBg .taskText{
    flex:1;
}
.taskBg .done .taskText{
    text-decoration: line-through;
    opacity: 0.3;
}

.taskBg .iconWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
  }

.taskBg .iconWrapper span {
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;
    color: #00ff89;
  }

  .taskBg .iconWrapper span:hover {
    color: yellow;
  }

  .form-control {
    border: none;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    
  }
  .btn{
    background: #B9DFFF;
    border: none;
    padding: 10px 24px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #eee;
  }