.taskBg{
    background-color: #303347;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 30px;
    width: 95%;
    text-align: left;
    font-style: 22px;
    position: relative;    
}

.taskBg div{
   
    display: flex;
    align-items: center;
}

.row{
    
    display: flex;
}

.taskText{
    color: #FFFFFF;
}

.taskNumber{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.taskBg .taskText{
    flex:1;
}

.taskBg .done .taskText{
    text-decoration: line-through;
    opacity: 0.3;
}

.taskBg .iconWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
  }

.taskBg .iconWrapper span {
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;
    color: #E07A5F;
  }

  .taskBg .iconWrapper span:hover {
    color: #ffa48b;
  }

  .form-control {
    border: none;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    
  }
  .btn{
    background: #81B29A;
    border: none;
    margin-left: 5px;
    padding: 10px 24px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #eee;
    font-weight: normal;
  }

  .btn:hover{
    cursor: pointer;
  }

  .btncancel{
    font-weight: normal;
    background: #E07A5F;
    margin-left: 5px;
    border: none;
    padding: 10px 24px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #eee;
  }

  .btncancel:hover{
    cursor: pointer;
  }