.about-wrapper {
  background: url("../image_content/aboutBGWave.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  scroll-behavior: none;
}

.block {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  width: 300px;
}
