.about-wrapper {
  /* background: url("../image_content/aboutBGWave.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: #3D405B;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  scroll-behavior: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 50vh;
  position: relative;
}
/* .waves{
  position: fixed;
} */

.block {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  margin-top: 50px;
}

#pp1{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.p {
  width: 300px;
}

.awave {
  position: fixed;
  bottom: 0%;
  user-select: none;
}

.aone {
  z-index: 3;
}
.atwo {
  z-index: 2;
  animation: move 3s ease-in-out 0s infinite both;
}
.athree {
  z-index: 1;
  animation: move 4s ease-in-out 0s infinite both;
}
.afour {
  z-index: 0;
  animation: move 5s ease 0s infinite both;
}

@keyframes move {
  0% {
    margin-bottom: 0;
  }
  
  50% {
    margin-bottom:3%;
  }

  100% {
    margin-bottom: 0;
  }
}

