.btn-group .button {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    padding: 6px;
    margin: 4px 1px;
    transition-duration: 0.4s;
}

.btn-group {
    margin-left: 35px;
}

.main-btn {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 12px;

    padding: 16px;
    color: white;
    background-color: #E07A5F;
    border: none;
}

.btn-group .button:hover {
    background-color: gray;

}

.Sect1 {
    color: white;
    padding-top: 100px;
    text-align: left;
    padding-left: 20%;
    padding-bottom: 15%; 
   
}
.All{
 background-image: url("../image_content/homebg.png");
    background-repeat:no-repeat; 
    background-size: 100% 100%;

}
.Sect2 {
    margin: 100px 20px;
    text-align: center;
    clear: both;
    color: white;
}

.column {
    float: left;
    width: 30%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}