.main-btn {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 16%;
    border-radius: 12px;
    padding: 16px;
    color: white;
    background-color: #E07A5F;
    border: none;
    cursor: pointer;
}

.header{
    text-align: left;
    margin-bottom: 20px;
    
}

.Sect1 {
    
    color: white;
    padding-top: 100px;
    padding-left: 20%;
}

.All {
    background-image: url("../image_content/homebg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.Sect2 {
    padding-top: 20px;
    margin: 100px 20px;
    text-align: center;
    clear: both;
    color: white;
}

.mainpg {
    height: 80px;
    margin-top: 0px;
    margin-left: 7%;
    text-align: center;
    width: 30%;

}

.column {
    float: left;
    width: 30%;
    padding: 17px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}